.container-information
{
display:flex;
flex-direction:column;
flex-wrap:no-wrap;
align-items:center;
margin: auto;
width: 70vw;
height: 90cap;
background-color: rgba(128, 128, 128, 0.2);
}
div>a
{
    visibility:hidden;
    margin:30px;
}
body
{
background-image: url("galacticfireworks.webp");
background-repeat:no=repeat;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 0, 0.3); /* Button color */
    color: white; /* Text color */
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle box-shadow */
    transition: background-color 0.3s ease; /* Optional: Smooth transition on hover */

    /* Optional: Add hover styles to make it interactive */
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: rgba(255, 255, 0, 0.6);
    transform: scale(1.2);
}
a:active {
  transform: scale(1.2);
}
