.container-information
{
display:flex;
flex-direction:column;
flex-wrap:no-wrap;
align-items:center;
margin: auto;
width: 70vw;
height: 50vh;
background-color: rgba(128, 128, 128, 0.5);
}
body
{
background-image: url("galacticfireworks.webp");
background-repeat:no=repeat;
}
