.container-information
{
display:flex;
flex-direction:column;
flex-wrap:no-wrap;
align-items:center;
margin: auto;
width: auto;
height: auto;
}
.icon
{
display:flex;
flex-direction:row;
flex-wrap:wrap;
}
.two-column
{
display: grid;
grid-template-columns: auto auto;
gap:20px;
background-color: rgba(128, 128, 128, 0.2);
position: absolute;
top: 20%;
left: 15%;
}
div>a
{
    margin:5px;
}
body
{
background-image: url("galacticfireworks.webp");
background-repeat:no=repeat;
}
h1
{
 font-size: 3em;
}
p
{
font-family: monospace;
text-shadow: 0 0 black;
text-align: center;
font-size:1.3em;
}
.img-personal
{
width:150px;
height:150px;
border-radius: 50%;
}
.mainright
{
width:400px;
height:400px;
}
a {
    text-decoration: none;
    color: inherit;
    display: box;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 0, 0.3); /* Button color */
    color: white; /* Text color */
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle box-shadow */
    transition: background-color 0.3s ease; /* Optional: Smooth transition on hover */

    /* Optional: Add hover styles to make it interactive */
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: rgba(255, 255, 0, 0.6);
    transform: scale(1.2);
}
a:active {
  transform: scale(1.2);
}
